In [32]:
import os
import pickle
from utils.b2 import B2
from utils.modeling import *
import streamlit as st
from dotenv import load_dotenv
import numpy as np
from implicit.als import AlternatingLeastSquares
from sklearn.metrics import mean_squared_error
from scipy.sparse import coo_matrix

In [33]:
# ------------------------------------------------------
#                      APP CONSTANTS
# ------------------------------------------------------
REMOTE_DATA = 'pbp-2023.csv'

In [34]:
# ------------------------------------------------------
#                        CONFIG
# ------------------------------------------------------
load_dotenv()

True

In [35]:
# load Backblaze connection
b2 = B2(endpoint=os.environ['B2_ENDPOINT'],
        key_id=os.environ['B2_KEYID'],
        secret_key=os.environ['B2_APPKEY'])

In [36]:
# ------------------------------------------------------
#                        CACHING
# ------------------------------------------------------
@st.cache_data
def get_data():
    # collect data frame of reviews and their sentiment
    b2.set_bucket(os.environ['B2_BUCKETNAME'])
    df_pbp = b2.get_df(REMOTE_DATA)

    return df_pbp

2024-03-21 01:51:57.419 No runtime found, using MemoryCacheStorageManager

In [37]:
data = get_data()
data

,GameId,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,SeriesFirstDown,...,IsChallenge,IsInterception,IsFumble,IsPenalty,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,SitID,TeamID,PlayID
0,2023121101,3,1,35,NYG,GB,3,7,92,1,...,0,0,0,0,0,0,NaN,130792,1,201
1,2023121101,3,2,19,NYG,GB,2,11,88,0,...,0,0,0,0,0,0,RIGHT GUARD,121188,1,102
2,2023121101,3,2,56,NYG,GB,1,10,89,0,...,0,0,0,0,0,0,CENTER,111089,1,103
3,2023121101,3,3,43,NYG,GB,1,10,64,1,...,0,0,0,0,0,0,NaN,111064,1,203
4,2023121101,3,4,29,NYG,GB,2,3,55,1,...,0,0,0,0,0,0,RIGHT GUARD,120355,1,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19711,2023091011,4,3,43,NE,PHI,1,10,89,1,...,0,0,0,0,0,0,NaN,2811089,28,201
19712,2023091012,4,3,16,LA,SEA,1,10,42,0,...,0,0,0,0,0,0,RIGHT TACKLE,2611042,26,107
19713,2023091012,4,9,9,LA,SEA,1,10,25,0,...,0,0,0,0,0,0,RIGHT TACKLE,2611025,26,107
19714,2023091004,3,15,0,TB,MIN,1,10,25,0,...,0,0,0,0,0,0,LEFT TACKLE,2311025,23,108
19715,2023091004,2,15,0,TB,MIN,3,4,16,0,...,0,0,0,0,0,0,LEFT END,2330416,23,104

In [38]:
rush_plays = data[data['IsRush'] == 1]
pass_plays = data[data['IsPass'] == 1]

## Model for rush plays

In [39]:
# Train ALS model for rush plays
rush_model = train_als_model(rush_small)

NameError: name 'train_als_model' is not defined

## Model for pass plays